<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="">
    <b>ATP LIST</b> 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">


<ion-card>
  <img src="assets/icon/atp.jpg" />
  <ion-card-content>
    Bienvenidos a la lista de jugadores en el circuito ATP
  </ion-card-content>
</ion-card>

<ion-button expand="block" (click)="gotoTenists()"> Show players</ion-button>
</ion-content>
