<ion-header>
  <ion-toolbar>
    <ion-title>Tennis Player List</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding *ngFor="let t of tennisplayers">
      <ion-item>
      <ion-label>
      <h1><b>Name:</b> {{t.name}}<br/></h1>
      <p></p>
      <p><b>Age:</b> {{t.age}}<br/></p>
      
      <p><b>Titles:</b> {{t.titles}}<br/></p>
      
      <p><b>ATP ranking:</b> {{t.ranking}}</p>
    </ion-label>
   
  </ion-item>
    <ion-item-options side="end">
      <ion-item-option color ="danger" (click)="deleteTenists(t.id)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-item-option>
      <ion-item-option color ="primary" (click)="gotoUpdateTenists(t)">
        <ion-icon slot="icon-only" name="swap-vertical-outline"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-button expand="block" (click)="gotoTenists()"> Add player</ion-button>
</ion-list> 


</ion-content>
